__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.python-version
.env
.venv/

var/
*.db
*.sqlite

node_modules/
web/dist/
web/dist-types/
autotriage/autotriage/app/static/

.DS_Store
